/* ----- general----- */
.body {
	margin: 0;
	padding: 0;
	font: 10px Arial, sans-serif;
	color: #00FF00;
	background-color: #FFFFFF;
	background-image: url(../images/structure/bk.gif);
	background-repeat: repeat-y;
	background-position: center top;
}


.base {
	width: 1017px;
	height: 900px;
}


/* ----- head ----- */

.framehead {
	float: left;
	width: 1017px;
	height: 345px;
	text-align: left;
}

.touch{
float: left;
width: 1017px;
height: 310px;
}

.bar{
float: right;
width: 625px;
height: 35px;
margin: 0px 50px 0px 0px;
}

.bar1{ float: right; height: 25px; padding: 10px 10px 10px 10px; 
font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #FFFFFF; font-weight: normal; text-align: center; vertical-align: middle;}
.bar1 a:link {text-decoration: none; color: #fff; 	background-color: none; 	margin: 0px 10px 0px 10px;  padding: 10px 10px 10px 10px;} 
.bar1 a:visited {text-decoration: none; color: #fff; 	background-color: none;		margin: 0px 10px 0px 10px;  padding: 10px 10px 0px 10px; } 
.bar1 a:active {text-decoration: none; color: #fff; 	background-color: none;		margin: 0px 10px 0px 10px;  padding: 10px 10px 0px 10px; } 
.bar1 a:hover {text-decoration: none; color: #fff; 	background-color: #FA1B61; 	margin: 0px 10px 0px 10px;  padding: 10px 10px 10px 10px;} 



/* ----- cuerpo ----- */

.cuerpo { 
float: left; 
width: 1017px; 
text-align:left; 
}


/* ----- column 1 ----- */

.columna1 {
	float: left;
	width: 305px;
}

/* ----- menu ----- */

.framemenu { 
float: right; 
align: right; 
text-align: right;
width: 305px; 
height: 1600px; 
}

.menuarea { 
float: right; 
width: 305px;
}

.menu { float: right; text-align: right; width: 180px; margin: 0px 30px 0px 0px; padding: 5px 8px 5px 0px; font-family: Arial, Helvetica, sans-serif; font-size: 10px;
	color: #FC2173; border-top-style: dotted; border-top-color: #B4B4B4; border-top-width: 1px;}
.menu a:link {text-decoration: none; color: #B4B4B4; padding: 5px 8px 5px 0px; } 
.menu a:visited {text-decoration: none; color: #B4B4B4; 	padding: 8px 10px 5px 0px; } 
.menu a:active {text-decoration: none; color: #B4B4B4; padding: 5px 8px 5px 0px;} 
.menu a:hover {text-decoration: none; color: #FC2173; padding: 5px 8px 5px 0px; } 
.onmenuactive {float: right; text-align: right; width: 180px; margin: 0px 30px 0px 0px; padding: 5px 8px 5px 0px; font-family: Arial, Helvetica, sans-serif; font-size: 10px;
	color: #FC2173; border-top-style: dotted; border-top-color: #B4B4B4; border-top-width: 1px;}
.onmenuactive a:link {font-family: Arial, Helvetica, sans-serif; font-size: 10px;
	color: #FC2173;text-decoration: none;} 
.onmenuactive a:visited {font-family: Arial, Helvetica, sans-serif; font-size: 10px;
	color: #FC2173;text-decoration: none;} 
.onmenuactive a:active {font-family: Arial, Helvetica, sans-serif; font-size: 10px;
	color: #FC2173;text-decoration: none;} 
.onmenuactive a:hover {font-family: Arial, Helvetica, sans-serif; font-size: 10px;
	color: #FC2173;text-decoration: none;} 

.menuon { float: right; text-align: right; width: 180px; 
margin: 0px 15px 0px 0px; padding: 5px 0px 5px 0px;
font-family: Arial, Helvetica, sans-serif; font-size: 10px; color: #FC2173;
border-top-style: dotted; border-top-color: #B4B4B4;  border-top-width: 1px;}
.menuon a:link {	text-decoration: none; color: #353535; } 
.menuon a:visited {	text-decoration: none; color: #353535; } 
.menuon a:active {	text-decoration: none; color: #353535; } 
.menuon a:hover {	text-decoration: none; color: #FC2173; } 




.sponsor{
float: right; 
width: 305px;
}

.sponsor2 {
	float: right;
	width: 305px;
	
}

.sponsor3 {
float: right;
width: 220px;
text-align: left;
margin: 40px 15px 30px 0px;
font: 10px Verdana; color: #FA1B61;
font-weight: bold;
}

.sponsorimage {
float: right;
width: 220px;
height: 100px;
text-align: left;
margin: 0px 15px 0px 0px;
}

.sponsorimageSEP {
float: right;
width: 220px;
height: 10px;
text-align: left;
margin: 0px 15px 0px 0px;
}

.sponsorimageLargeSEP {
float: right;
width: 220px;
height: 20px;
text-align: left;
margin: 0px 15px 0px 0px;
}


.sponsorimage2 {
	float: right;
	width: 220px;
	height: 200px;
	text-align: left;
	margin-top: 10px;
	margin-right: 15px;
	margin-bottom: 0px;
	margin-left: 0px;
}

.sponsorimage3 {
	float: right;
	width: 220px;
	height: 80px;
	text-align: left;
	margin-top: 10px;
	margin-right: 15px;
	margin-bottom: 0px;
	margin-left: 0px;
}

.sponsorimage4 {
	float: right;
	width: 220px;
	height: 120px;
	text-align: left;
	margin-top: 10px;
	margin-right: 15px;
	margin-bottom: 0px;
	margin-left: 0px;
}





/* ----- columna 2 ----- */

.columna2 { 
float: left; 
width: 420px; 
text-align:left; 
vertical-align:top; 
margin: 0px 0px 0px 60px;
}

.columna2a { 
float: left; 
width: 550px; 
text-align:left; 
vertical-align:top; 
margin: 0px 0px 0px 100px;
}

.columna2b { 
float: left; 
width: 580px; 
text-align:left; 
vertical-align:top; 
margin: 0px 0px 0px 60px;
}

.columna2c { 
float: left; 
width: 590px; 
text-align:left; 
vertical-align:top; 
margin: 0px 0px 0px 50px;
}

/* ----- styles of text----- */

.txt0{
float: left;
width: 530px;
text-align: left;
margin: 0px 0px 0px 0px;
}


.txt1{
float: left;
width: 530px;
text-align: left;
margin: 0px 0px 30px 0px;
}

.txt1a{
float: left;
width: 370px;
text-align: left;
margin: 0px 0px 30px 0px;
}

.txt2{ 	
float: left; 
width: 190px; 
text-align: left; 
margin: 0px 20px 30px 0px;
}


.initial{ float: left; width: 370px; margin: 20px 0px 20px 0px; font-family: verdana, Arial, Helvetica, sans-serif; font-size: 20px; color: #0095FF; }
.initialb{ float: left; width: 370px; margin: 20px 0px 20px 0px; font-family: verdana, Arial, Helvetica, sans-serif; font-size: 20px; color: #0095FF; }
.second{ float: left; width: 370px; margin: 20px 0px 20px 0px; font-family: verdana, Arial, Helvetica, sans-serif; font-size: 18px; color: #0095FF; }
.third{ float: left; width: 370px; margin: 20px 0px 20px 0px; font-family: verdana, Arial, Helvetica, sans-serif; font-size: 16px; color: #0095FF; }



.blue{ 	margin: 0px 0px 12px 0px; font-family: Tahoma, Arial, Helvetica, sans-serif; font-size: 14px; font-weight: bold; color: #0095FF; }
.blue a:link {		text-decoration: none; 	background-color: none; 	color: #0095FF;} 
.blue a:visited {	text-decoration: none; 	background-color: none; 	color: #0095FF;} 
.blue a:active {	text-decoration: none; 	background-color: none; 	color: #0095FF;} 
.blue a:hover {		text-decoration: none; 	background-color: #0095FF; 	color: #FFFFFF;}

.gray{	margin: 0px 0px 0px 0px; font-size: 11px; font: Arial, Verdana, sans-serif; color: #353535;}
.gray a:link {		text-decoration: underline; background-color: none; 		color:#353535; } 
.gray a:visited {	text-decoration: underline; background-color: none; 		color:#353535; } 
.gray a:active {	text-decoration: none; background-color: none; 		color:#353535; } 
.gray a:hover {		text-decoration: none; background-color: #FC2173; 	color:#fff; } 

.pink {	margin: 0px 0px 0px 0px; font-size: 13px; font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif; color: #FC2173;}
.pink a:link {		text-decoration: none; background-color: none; 		color:#FC2173; } 
.pink a:visited {	text-decoration: none; background-color: none; 		color:#FC2173; } 
.pink a:active {	text-decoration: none; background-color: none; 		color:#FC2173; } 
.pink a:hover {		text-decoration: none; background-color: #FC2173; 	color:#fff; } 

.pink2 {	margin: 0px 0px 0px 0px; font-size: 12px; font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif; color: #FC2173;}
.pink2 a:link {		text-decoration: none; background-color: none; 		color:#FC2173; } 
.pink2 a:visited {	text-decoration: none; background-color: none; 		color:#FC2173; } 
.pink2 a:active {	text-decoration: none; background-color: none; 		color:#FC2173; } 
.pink2 a:hover {		text-decoration: none; background-color: #FC2173; 	color:#fff; } 

.tabletime { 	float: left;  width: 370px; text-align: left; margin: 0px 0px 30px 0px; }
.date{ 	float: left;  width: 370px; font: 10px Verdana; color: #999999; }
.day { 	float: left;  width: 370px; font-size: 18px; font: Verdana, Arial,  sans-serif; color: #353535; }
.line {	float: left;	width: 370px; margin: 12px 0px 0px 0px;	}
.time{ float: left;	width: 60px; font:   bold 12px Arial, Verdana, sans-serif; color: #FC2173;}
.descrip {float: left;	width: 300px; font-size: 11px; font: Arial, Verdana, sans-serif; color: #353535; margin: 0px 0px 0px 10px;}

.important0{
	float: left;
	width: 530px;
	margin: 10px 0px 20px 0px;
	font-family: verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #0095FF;
	border: 1px dotted #FC2173;
}
.important00{
	float: left;
	width: 530px;
	margin: 10px 0px 20px 0px;
	font-family: verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #0095FF;
	border: 1px dotted #FC2173;
}
.important001{
	float: left;
	width: 370px;
	margin: 10px 0px 20px 0px;
	font-family: verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #0095FF;
	border: 1px dotted #FC2173;
}
.table0 { 	float: left;  width: 530px; text-align: left; margin: 0px 0px 10px 0px; }
.table00 { 	float: left;  width: 530px; text-align: left; margin: 0px 0px 10px 0px; }
.table001 { 	float: left;  width: 370px; text-align: left; margin: 0px 0px 10px 0px; }
.line0H {
	float: left;
	width: 516px;
	margin: 10px 0px 0px 10px;
	font-size: 14px;
	background-color: #FC2174;
	color: #FFF;
}
.line0 {	float: left;	width: 530px; margin: 10px 0px 0px 12px;	}
.index0{
	float: left;
	width: 300px;
	font-family: Arial, Verdana, sans-serif;
	font-size: 12px;
	font-weight: bold;
}

.line01 {	float: left;	width: 530px; margin: 10px 0px 0px 12px;	}
.line010 {	float: left;	width: 530px; margin: 10px 0px 0px 12px;	}
.line0101 {	float: left;	width: 370px; margin: 10px 0px 0px 12px;	}



.index01a{
	float: left;
	width: 160px;
	font-family: Arial, Verdana, sans-serif;
	font-size: 12px;
}
.index01c0{ 
	float: left;
	width: 100px;
	font-family: Arial, Verdana, sans-serif;
	font-size: 12px;
}
.index01c01{ 
	float: left;
	width: 75px;
	font-family: Arial, Verdana, sans-serif;
	font-size: 12px;
}
.index01a0{
	float: left;
	width: 100px;
	font-family: Arial, Verdana, sans-serif;
	font-size: 12px;
	font-weight: bold;
}
.index01a01{
	float: left;
	width: 90px;
	font-family: Arial, Verdana, sans-serif;
	font-size: 12px;
	font-weight: bold;
}
.index01b{
	float: left;
	width: 300px;
	font-family: Arial, Verdana, sans-serif;
	font-size: 12px;
	font-weight: bold;
}
.index01b0{
	float: left;
	width: 420px;
	font-family: Arial, Verdana, sans-serif;
	font-size: 12px;
	
}
.index01b01{
	float: left;
	width: 180px;
	font-family: Arial, Verdana, sans-serif;
	font-size: 12px;
}
.tgrouptitle{
	margin-top: 10px;
	margin-bottom: 10px;
	font-family: Arial, Verdana, sans-serif;
	color: #0095FF;
}


.table2 { 	float: left;  width: 530px; text-align: left; margin: 0px 0px 10px 0px; }
.line2 {	float: left;	width: 530px; margin: 12px 0px 0px 0px;	}
.index{
	float: left;
	width: 160px;
	color: #333;
	font-family: Arial, Verdana, sans-serif;
	font-size: 12px;
	font-weight: bold;
}
.tablecontent {float: left;	width: 350px; font-size: 11px; font: Arial, Verdana, sans-serif; color: #353535; margin: 0px 0px 0px 10px;}


.tableDate { 	float: left;  width: 590px; text-align: left; margin: 0px 0px 0px 0px; }
.lineDate {	float: left;	width: 590px; margin: 0px 0px 0px 0px; vertical-align:middle	}
.eventIndex{
	float: left;
	width: 127px;
	color: #0095FF;
	font-family: Arial, Verdana, sans-serif;
	font-size: 12px;
	font-weight: bold;
	vertical-align:middle;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
	vertical-align:middle;
}
.monthDate{
	float: left;
	width: 115px;
	color: #0095FF;
	font-family: Arial, Verdana, sans-serif;
	font-size: 12px;
	font-weight: bold;
	margin: 0px 0px 0px 0px;
	text-align:center;

}
.eventDate{
	float: left;
	text-align:center;
	vertical-align:middle;
	width: 115px;
	font-size: 11px;
	font: Arial, Verdana, sans-serif;
	color: #353535;
	margin-bottom: 10px;	
}
.eventTitle{
	font-weight: bold;
	color: #E0095FF;
	font-size: 11px;
}
.eventDateText{
	font-style: italic;
}



.boximage{ 	float: left; width: 200px; text-align: left; margin: 10px 10px 10px 0px;}
.boximageA{ float: left; width: 220px; text-align: left; margin: 10px 10px 10px 0px;}
.boximageB{ float: left; width: 500px; text-align: left; margin: 10px 10px 10px 0px;}
.boximageC{
	float: left;
	width: 520px;
	text-align: left;
	margin: 10px 10px 10px 0px;
	border: thin dotted #666;
}
.image { 	float: left;  width: 68px; height: 90px; padding: 2px 0px 10px 0px;}
.imageB { 	float: left;  width: 200px; height: 270px; padding: 2px 0px 10px 0px; }
.imageC { 	float: left;  width: 500px; height: 200px; padding: 2px 0px 10px 10px; }
.messageA {	float: left; width: 300px; font-size: 12px; font: Verdana; color: #0095FF; }
.messageB {	float: left; width: 500px; font-size: 12px; font: Verdana; color: #0095FF; }
.code {
	float: left;
	width: 500px;
	font-size: 12px;
	color: #36F;
	font-family: "Courier New", Courier, monospace;
	padding: 0px 0px 0px 10px;
}
.charge{ 	float: left;  width: 125px; font: 10px Verdana; color: #999999; padding: 0px 0px 8px 0px; }
.headerB{ 	float: left;  width: 300px; font: 11px Verdana; color: #999999; padding: 0px 0px 8px 0px; }
.headerC{
	float: left;
	width: 300px;
	font: 12px Verdana;
	color: #0095FF;
	padding: 0px 0px 8px 10px;
}
.name {	float: left; width: 125px; font-size: 13px; font: Verdana; color: #FC2173; font-weight: bold; }
.university { float: left;	width: 125px; font-size: 10px; color: #353535;} 
.flyeDown{float: left;	width: 300px; font-size: 12px; color: #353535; padding: 8px 0px 8px 0px; }
.flyeDown a:link {		text-decoration: underline; background-color: none; 		color:#353535; } 
.flyeDown a:visited {	text-decoration: none; background-color: none; 		color:#353535; } 
.flyeDown a:active {	text-decoration: none; background-color: none; 		color:#353535; } 
.flyeDown a:hover {		text-decoration: none; background-color: #FC2173; 	color:#fff; } 

ul{	margin: 10px 0px 0px 30px; }


/* ----- columna3 ----- */
/* ----- news ----- */

.news {
float: left; 
width: 180px; 
margin: 50px 0px 0px 0px;
}

.framenews { 
float: left; 
width: 180px; 
height: 414px; 
}

.news1{
float: left; width: 170px; height: 16px; padding: 10px 0px 0px 5px; 
background-color: #FFE400; border-top-width: 4px; border-top-style: solid; border-top-color: #FFF180; 
font-family: Arial, Helvetica, sans-serif; font-size: 20px; color: #FFFFFF; font-weight: bold;
}
.news1 a:link {text-decoration: none; background-color: none; color:#FFFFFF; padding: 0px 10px 0px 10px; } 
.news1 a:visited {text-decoration: none; background-color: none; color:#FFFFFF; padding: 0px 10px 0px 10px;} 
.news1 a:active {text-decoration: none; background-color: none; color:#FFFFFF; padding: 0px 10px 0px 10px;} 
.news1 a:hover {text-decoration: none; background-color: #FFFFFF; color:#FFE400; padding: 0px 10px 0px 10px;}


.news2{
float: left; width: 170px;
margin: 20px 0px 0px 0px; padding: 0px 0px 0px 10px;
font: bold 10px Arial, Verdana, sans-serif; color: #353535;}
.news2 a:link {		text-decoration: none; 	background-color: none; 	color:#353535; } 
.news2 a:visited {	text-decoration: none; 	background-color: none; 	color:#353535; } 
.news2 a:active {	text-decoration: none; 	background-color: none; 	color:#353535; } 
.news2 a:hover {	text-decoration: none; 	background-color: #353535; 	color:#FFFFFF; }


.news3{ float: left; width: 170px; padding: 0px 0px 0px 10px; font: 10px  Arial, Verdana,sans-serif;  color: #909090; }
.news3 a:link {		text-decoration: none; 	background-color: none; 		color:#909090; } 
.news3 a:visited {	text-decoration: none; 	background-color: none; 		color:#909090; } 
.news3 a:active {	text-decoration: none; 	background-color: none; 		color:#909090; } 
.news3 a:hover {	text-decoration: none; 	background-color: #efefef; 		color:#353535; }


/* ----- down ----- */

.framedown{
height: 327px;
width: 1017px;
text-align: left;
background-color: #FFFFFF;
}	
	
.bottom{
height: 327px;
width: 1017px;
text-align: left;
}

.bottom2 {
float: left;
height: 327px;
width: 1017px;
background-color: #FF3366;
background-image: url(../images/structure/bottom.gif);
background-repeat: no-repeat;
background-position: center top;
}

.bottomA{
height: 280px;
width: 1017px;
text-align: left;
}

.bottom2A {
float: left;
height: 280px;
width: 1017px;
background-color: #FF3366;
background-image: url(../images/structure/bottom.gif);
background-repeat: no-repeat;
background-position: center top;
}

.bottom3 { float: right; width: 967px; margin: 130px 0px 0px 0px; font: 9px Tahoma, Arial, sans-serif; color: #ffffff; }
.bottom3 a:link {text-decoration: none; color: #FFFFFF; 		background-color: none; padding: 4px 5px 4px 5px; } 
.bottom3 a:visited {text-decoration: none; color: #FFFFFF;		background-color: none; padding: 4px 5px 4px 5px;} 
.bottom3 a:active {text-decoration: none; color: #FFFFFF; 		background-color: none; padding: 4px 5px 4px 5px;} 
.bottom3 a:hover {text-decoration: none; color: #FA1B61; 		background-color: #FFFFFF; padding: 4px 5px 4px 5px;} 


/* ----- others ----- */
	
.distance100px { 
float:left;
height: 100px;
width:100px;
margin: 10px 0px 0px 10px;
}

.distance50px {
float:left;
height: 50px;
width:100px;
margin: 10px 0px 0px 10px;
}

.transparente {
margin: 0px; 
padding: 0px; 
background:inherit;
}

.feetable{
	width: 530px;
	float: left;
	padding-bottom:15px;
	/*border: thin dotted #C6F;	*/
}
.feeline{
	width: 530px;
	float: left;
	padding-top:10px;
}
.feecolumnA{
	width: 220px;
	float: left;
}
.feecolumnB{
	width: 310px;
	float: left;
	text-align:center;
	
}
.feecolumnB1{
	width: 155px;
	float: left;
	vertical-align:middle;
}
.feecolumnB2{
	width: 155px;
	float: left;
	vertical-align:middle;
}
.superseed{
	font-size: 10px;
	font-style: italic;
}
.important{
	font-size: 16px;
	color: #F00;	
}
.important a:link{
	color:#F00;
	font-size: 16px;
}
.important a:active{
	color:#F00;
	font-size: 16px;
}
.important a:visited{
	color:#F00;
	font-size: 16px;
}
.important a:hover{
	text-decoration: none;
	background-color: none;
	color:#FFF;
	font-size: 16px;
}
.biographyimage{
	float:left;
	padding: 4px 5px 4px 5px;
	width: 100px; height: 130px; 
}
.subtitle{
	margin-top: 10px;
	margin-bottom: 10px;
	font-family: Arial, Verdana, sans-serif;
	color: #0095FF;
	font-size:12px;
}
.kdate{
	margin-top: 10px;
	font-family: Arial, Verdana, sans-serif;
	color: #666;
	font-size:12px;
}
.table_prg{
	
	color: #0095FF;
	font: 12px Tahoma, Arial, sans-serif;
	float:left;
	text-align:center;
}
.table_prg td{
	border: thin solid #FA1B61;
}
.table_prg a:link { color: #0095FF;} 
.table_prg a:visited {text-decoration: none; color: #FFFFFF;		background-color: none; ;} 
.table_prg a:active {text-decoration: none; color: #FA1B61; 		background-color: FFFFFF; } 
.table_prg a:hover {text-decoration: none; color: #FA1B61; 		background-color: #FFFFFF;}
.internal_table{

}