P {
	font:13px Verdana, Arial, Helvetica, sans-serif;
}

.disclaimer {
	font:11px Verdana, Arial, Helvetica, sans-serif;
	margin-right: 10px;
	margin-left: 10px;
}

.alert {
	color: #840000;
	font-weight:bold;
}

.download {
	color: #840000;
	font-weight:bold;
}

.printLink {
	font:10px Verdana, Arial, Helvetica, sans-serif;
	color : #000000;
}

.printLink:visited {
   color : #000000;
}

.printLink:hover {
   color: #FFFF99;
}


PRE { font:13px "Courier", sans-serif; }

a {
   color: #003300;
}

a:visited {
   color: #336633;
}


/********************************************************************
 * HEADINGS
 ********************************************************************/
H1 { font:20px Arial, Verdana, Helvetica, sans-serif;
	color: #000000;
	font-weight:bold;
}

H2 { font:18px Arial, Verdana, Helvetica, sans-serif;
	color: #000000;
	font-weight:bold;
}

H3 { font:16px Arial, Verdana, Helvetica, sans-serif;
	color: #000000;
	font-weight:bold;
}
H4 { font:13px Arial, Verdana, Helvetica, sans-serif;
	color: #000000;
	font-weight:bold;
	margin-right: 10px;
	margin-left: 10px;
}

/********************************************************************
 * LISTS & TABLES
 ********************************************************************/
LI { font:13px Verdana, Arial, Helvetica, sans-serif; }

UL { font:13px Verdana, Arial, Helvetica, sans-serif; }

OL { font:13px Verdana, Arial, Helvetica, sans-serif; }
DT { font:13px Verdana, Arial, Helvetica, sans-serif; font-weight:bold; }
DD { font:13px Verdana, Arial, Helvetica, sans-serif; }

TD { font:13px Verdana, Arial, Helvetica, sans-serif; }

TH { font:13px Verdana, Arial, Helvetica, sans-serif;
	font-weight:bold;
	text-align:center;
}

/* ========================================
   Results table
   ======================================== */

.resultsHeading {
	background-color : #CCCCCC;
}

.colname {
	font: 14px Verdana, Arial, Helvetica, sans-serif;
	font-weight : bold;
	color : #000000;
}
.colname:visited {
	color : #000000;
}

.colname:hover {
	color : #006600;
}

/********************************************************************
 * FORMS
 ********************************************************************/

INPUT { font:10px Verdana, Arial, Helvetica, sans-serif; }
TEXTAREA { font:10px Verdana, Arial, Helvetica, sans-serif; }


/* ========================================
   Top-level tabs
   ======================================== */

.headerTab {
	color : #000000;
	background-color : #99CC00;
}

.headerTabSelected {
	font: 14px Verdana, Arial, Helvetica, sans-serif;
	font-weight : normal;
	color : #000000;
	text-decoration: none;
	font-weight : bold;
	background-color : #FFFFFF;
}

.headerLink {
	font: 14px Verdana, Arial, Helvetica, sans-serif;
	font-weight : bold;
	color : #000000;
	text-decoration: none;
	background-color : #99CC00;
}

.headerLink:visited {
	color : #000000;
	background-color : #99CC00;
}

.headerLink:hover {
   color : #FFFF99;
}


/* ========================================
   Subnavigation tabs
   ======================================== */

.subnavTab {
	background-color : #99CC00;
}

.subnavTabSelected {
	font: 12px Verdana, Arial, Helvetica, sans-serif;
	font-weight : bold;
	color : #000000;
	text-decoration: none;
	background-color : #FFFF33;
}

.subnavLink {
	font: 12px Verdana, Arial, Helvetica, sans-serif;
	font-weight : bold;
	color : #000000;
	text-decoration: none;
}

.subnavLink:visited {
	color : #000000;
}

.subnavLink:hover {
   color : #FFFF99;
}

/* Sub sub nav */
/* ----------- 50BB3D */

.subsubnavTab {
	background-color : #99CC00;
}

.subsubnavTabSelected {
	font: 11px Verdana, Arial, Helvetica, sans-serif;
	font-weight : normal;
	color : #000000;
	text-decoration: none;
	background-color : #FFFF33;
}

.subsubnavLink {
	font: 11px Verdana, Arial, Helvetica, sans-serif;
	font-weight : normal;
	color : #000000;;
	text-decoration: none;
}

.subsubnavLink:visited {
	color : #000000;
}

.subsubnavLink:hover {
   color : #FFFF99;
}

/* ========================================
   Photo navigation
   ======================================== */

.photoLink {
   font: 14px Verdana, Arial, Helvetica, sans-serif;
   color: #330066;
   text-decoration: none;
}

.photoLink:visited {
   color: #330066;
}

.photoLink:hover {
   color: #FFFF99;
   background-color : #CCCCCC;
}

.photoLinkSelected {
   font: 14px Verdana, Arial, Helvetica, sans-serif;
   color: #FFFF99;
   text-decoration: none;
   background-color : #330066;
}

.photoTitle {
   font: 18px Verdana, Arial, Helvetica, sans-serif;
   color: #330066;
   font-weight: bold;
}

/* ========================================
   Program
   ======================================== */

.pgmTime {
   font:13px Verdana, Arial, Helvetica, sans-serif;
}

.pgmSession {
   font:15px Verdana, Arial, Helvetica, sans-serif;
   color: #330066;
   font-weight:bold;
}

.pgmDay {
   font:13px Verdana, Arial, Helvetica, sans-serif;
   color: #330066;
   font-weight:bold;
   background-color : #CCCCFF;
}

/* ========================================
   Schedule
   ======================================== */

.schedTime {
   font:10px Verdana, Arial, Helvetica, sans-serif;
   background-color : #CCCCCC;
}

.schedDay {
   font:15px Verdana, Arial, Helvetica, sans-serif;
   color: #330066;
   font-weight:bold;
   background-color : #CCCCFF;
}

.schedEvent {
   font:12px Verdana, Arial, Helvetica, sans-serif;
   color: #330066;
   background-color : #EEEEEE;
}

.schedSlot {
   background-color : #FFCC66;
   font:10px Verdana, Arial, Helvetica, sans-serif;
   text-decoration: none;
   color: #3300FF;
}

.schedSlot:visited {
   color: #3300FF;
}

.schedSlot:hover {
   color: #FF0000;
}

.schedAntiSlot {
   background-color : #EEEEEE;
}


.schedBreak {
   background-color : #CCCCCC;
}

