P {
	font:13px Verdana, Arial, Helvetica, sans-serif;
	margin-right: 10px;
	margin-left: 10px;
}

.disclaimer {
	font:11px Verdana, Arial, Helvetica, sans-serif;
	margin-right: 10px;
	margin-left: 10px;
}

.alert {
	color: #840000;
	font-weight:bold;
}

.download {
	color: #840000;
	font-weight:bold;
}

.printLink {
	font:10px Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
}

.printLink:visited {
   color: #000000;
}

.printLink:hover {
   color: #000000;
}


PRE { font:13px "Courier", sans-serif; }

/********************************************************************
 * HEADINGS
 ********************************************************************/
H1 { font:20px Verdana, Helvetica, sans-serif;
	color: #330066;
	font-weight:bold;
}

H2 { font:18px Verdana, Arial, Helvetica, sans-serif;
	color: #330066;
	font-weight:bold;
}

H3 { font:16px Verdana, Arial, Helvetica, sans-serif;
	color: #330066;
	font-weight:bold;
}
H4 { font:13px Verdana, Arial, Helvetica, sans-serif;
	color: #330066;
	font-weight:bold;
	margin-right: 10px;
	margin-left: 10px;
}

/********************************************************************
 * LISTS & TABLES
 ********************************************************************/
LI { font:13px Verdana, Arial, Helvetica, sans-serif; }

UL { font:13px Verdana, Arial, Helvetica, sans-serif; }

OL { font:13px Verdana, Arial, Helvetica, sans-serif; }
DT { font:13px Verdana, Arial, Helvetica, sans-serif; font-weight:bold; }
DD { font:13px Verdana, Arial, Helvetica, sans-serif; }

TD { font:13px Verdana, Arial, Helvetica, sans-serif; }

TH { font:13px Verdana, Arial, Helvetica, sans-serif;
	font-weight:bold;
	text-align:center;
}

/* ========================================
   Results table
   ======================================== */

.resultsHeading {
	background-color : #CCCCFF;
}

.colname {
	font: 14px Verdana, Arial, Helvetica, sans-serif;
	font-weight : bold;
	color : #000033;
}
.colname:visited {
	color : #000033;
}

.colname:hover {
	color : #FFFF99;
}

/********************************************************************
 * FORMS
 ********************************************************************/

INPUT { font:10px Verdana, Arial, Helvetica, sans-serif; }
TEXTAREA { font:10px Verdana, Arial, Helvetica, sans-serif; }


/* ========================================
   Top-level tabs
   ======================================== */

.headerTab {
	background-color : #9999FF;
}

.headerTabSelected {
	font: 14px Verdana, Arial, Helvetica, sans-serif;
	font-weight : normal;
	color : #000000;
	text-decoration: none;
	background-color : #FFFFFF;
}

.headerLink {
	font: 14px Verdana, Arial, Helvetica, sans-serif;
	font-weight : normal;
	color : #000000;
	text-decoration: none;
}

.headerLink:visited {
	color : #000000;
}

.headerLink:hover {
   color : #FFFF99;
}


/* ========================================
   Subnavigation tabs
   ======================================== */

.subnavTab {
	background-color : #9999FF;
}

.subnavTabSelected {
	font: 11px Verdana, Arial, Helvetica, sans-serif;
	font-weight : bold;
	color : #000000;
	text-decoration: none;
	background-color : #CCCCFF;
}

.subnavLink {
	font: 11px Verdana, Arial, Helvetica, sans-serif;
	font-weight : bold;
	color : #000000;
	text-decoration: none;
}

.subnavLink:visited {
	color : #000000;
}

.subnavLink:hover {
   color : #FFFF99;
}

/* Sub sub nav */
/* ----------- */

.subsubnavTab {
	background-color : #9999FF;
}

.subsubnavTabSelected {
	font: 10px Verdana, Arial, Helvetica, sans-serif;
	font-weight : normal;
	color : #000000;
	text-decoration: none;
	background-color : #CCCCFF;
}

.subsubnavLink {
	font: 10px Verdana, Arial, Helvetica, sans-serif;
	font-weight : normal;
	color : #000000;;
	text-decoration: none;
}

.subsubnavLink:visited {
	color : #000000;
}

.subsubnavLink:hover {
   color : #FFFF99;
}

/* ========================================
   Photo navigation
   ======================================== */

.photoLink {
   font: 14px Verdana, Arial, Helvetica, sans-serif;
   color: #330066;
   text-decoration: none;
}

.photoLink:visited {
   color: #330066;
}

.photoLink:hover {
   color: #FFFF99;
   background-color : #CCCCCC;
}

.photoLinkSelected {
   font: 14px Verdana, Arial, Helvetica, sans-serif;
   color: #FFFF99;
   text-decoration: none;
   background-color : #330066;
}

.photoTitle {
   font: 18px Verdana, Arial, Helvetica, sans-serif;
   color: #330066;
   font-weight: bold;
}

/* ========================================
   Program
   ======================================== */

.pgmTime { 	
   font:13px Verdana, Arial, Helvetica, sans-serif;
}

.pgmSession { 	
   font:15px Verdana, Arial, Helvetica, sans-serif;
   color: #330066;
   font-weight:bold;
}

.pgmDay { 	
   font:13px Verdana, Arial, Helvetica, sans-serif;
   color: #330066;
   font-weight:bold;
   background-color : #CCCCFF;
}

/* ========================================
   Schedule
   ======================================== */

.schedTime { 	
   font:10px Verdana, Arial, Helvetica, sans-serif;
   background-color : #CCCCCC;
}

.schedDay { 	
   font:15px Verdana, Arial, Helvetica, sans-serif;
   color: #330066;
   font-weight:bold;
   background-color : #CCCCFF;
}

.schedEvent { 	
   font:12px Verdana, Arial, Helvetica, sans-serif;
   color: #330066;
   background-color : #EEEEEE;
}

.schedSlot { 	
   background-color : #FFCC66;
   font:10px Verdana, Arial, Helvetica, sans-serif;
   text-decoration: none;
   color: #3300FF;
}

.schedSlot:visited { 	
   color: #3300FF;
}

.schedSlot:hover { 	
   color: #FF0000;
}

.schedAntiSlot { 	
   background-color : #EEEEEE;
}


.schedBreak { 	
   background-color : #CCCCCC;
}

