<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<title> 
AOSD 10 - Welcome !
</title>

<!-- http://www.figelist.com/ -->
<!-- figelist, javier prieto, javier prieto figelist, diseño, design, diseñador, designer, -->

<meta name="robots" content="all">
<meta name="robots" content="index, follow">
<meta name="revisit-after" content="7 days">
<meta name="revisit" content="7 days">

<meta http-equiv="Content-Style-Type" content="text/css">
<link href="../css/1.css" rel="stylesheet" type="text/css">
<link href="../css/bk_6.css" rel="stylesheet" type="text/css">
</head>

<!-- body -->
<center><body class="body">
<div class="base">

<!-- head -->
<iframe
     align=""
     class="framehead"
     id=""
     name="framemenu"
     allowTransparency="true"
     frameborder="0"
     border="0"
     framespacing="0"
     marginheight="0"
     marginwidth="0"
     height=""
     width=""
     scrolling="no"
     zindex="0"
	 src="../stat/head.html">
</iframe>


<!-- main -->
<div class="cuerpo">
<!-- column 1 -->
<div class="columna1">

<!-- menu -->
<iframe
     align=""
     class="framemenu"
     id=""
     name="framemenu"
     allowTransparency="true"
     frameborder="0"
     border="0"
     framespacing="0"
     marginheight="0"
     marginwidth="0"
     height=""
     width=""
     scrolling="no"
     zindex="0"
	 src="../stat/menu_description.html">
</iframe>

</div>
	
	
	
<!-- column 2 -->
<div class="columna2">
<!-- put text -->

<div class="initial"> 
Description
</div>

<div class="txt1">
<div class="blue"> 
<a href="index.html">8th International Conference on Aspect-Oriented Software Development</a> 
</div>
<div class="gray"> 
The International Conference on <a href="index.html">Aspect-Oriented</a> Software Development (AOSD) is the premier conference on software modularity, with an emphasis on modular structures that cut across traditional abstraction boundaries. The conference offers several tracks, including the Research and Industry Tracks, which bring together leading researchers and practitioners working in such fields as software engineering, programming languages, systems, and others. AOSD welcomes submissions of high quality in all areas relating to aspects, ranging from foundational research to evaluations of aspect-oriented concepts. 
<ul>
<li><a href="index.html">methods and tools based on experiences using them in practice.</a></li>
<li>methods and tools based on experiences using them in practice.</li>
<li>methods and tools based on experiences using them in practice.</li>
<li>methods and tools based on experiences using them in practice.</li>
</ul>
</div>		
</div>

<div class="txt1">
<div class="blue"> 
<a href="index.html">8th International Conference on Aspect-Oriented Software Development</a> 
</div>
<div class="gray"> 
The International Conference on <a href="index.html">Aspect-Oriented</a> Software Development (AOSD) is the premier conference on software modularity, with an emphasis on modular structures that cut across traditional abstraction boundaries. The conference offers several tracks, including the Research and Industry Tracks, which bring together leading researchers and practitioners working in such fields as software engineering, programming languages, systems, and others. AOSD welcomes submissions of high quality in all areas relating to aspects, ranging from foundational research to evaluations of aspect-oriented concepts, methods and tools based on experiences using them in practice. 
</div>		
</div>

<div class="txt1">
<div class="blue"> 
<a href="index.html">8th International Conference on Aspect-Oriented Software Development</a> 
</div>
<div class="gray"> 
The International Conference on <a href="index.html">Aspect-Oriented</a> Software Development (AOSD) is the premier conference on software modularity, with an emphasis on modular structures that cut across traditional abstraction boundaries. The conference offers several tracks, including the Research and Industry Tracks, which bring together leading researchers and practitioners working in such fields as software engineering, programming languages, systems, and others. AOSD welcomes submissions of high quality in all areas relating to aspects, ranging from foundational research to evaluations of aspect-oriented concepts, methods and tools based on experiences using them in practice. 
</div>		
</div>

<div class="txt2">
<div class="blue"> 
<a href="index.html">8th International Conference on Aspect-Oriented Software Development</a> 
</div>
<div class="gray"> 
The International Conference on <a href="index.html">Aspect-Oriented</a> Software Development (AOSD) is the premier conference on software modularity, with an emphasis on modular structures that cut across traditional abstraction boundaries. The conference offers several tracks, including the Research and Industry Tracks, which bring together leading researchers and practitioners working in such fields as software engineering, programming languages, systems, and others. AOSD welcomes submissions of high quality in all areas relating to aspects, ranging from foundational research to evaluations of aspect-oriented concepts, methods and tools based on experiences using them in practice. 
</div>		
</div>

<div class="txt2">
<div class="blue"> 
<a href="index.html">8th International Conference on Aspect-Oriented Software Development</a> 
</div>
<div class="gray"> 
The International Conference on <a href="index.html">Aspect-Oriented</a> Software Development (AOSD) is the premier conference on software modularity, with an emphasis on modular structures that cut across traditional abstraction boundaries. The conference offers several tracks, including the Research and Industry Tracks, which bring together leading researchers and practitioners working in such fields as software engineering, programming languages, systems, and others. AOSD welcomes submissions of high quality in all areas relating to aspects, ranging from foundational research to evaluations of aspect-oriented concepts, methods and tools based on experiences using them in practice. 
</div>		
</div>







<div class="initial"> 
What to Do in Charlottesville, Virginia
</div>

<div class="txt1">
<div class="blue"> 
<a href="index.html">Restaurants and Nightlife</a> 
</div>
<div class="gray"> 
traditional abstraction boundaries. 
</div>		
</div>

<div class="txt2">
<div class="pink"> 
<a href="index.html">Bang Asian tapas & bar</a> 
</div>
<div class="gray">213 2nd St SW, Charlottesville, VA (434) 984-2264</div>		
</div>

<div class="txt2">
<div class="pink"> 
<a href="index.html">Bang Asian tapas & bar</a> 
</div>
<div class="gray">213 2nd St SW, Charlottesville, VA (434) 984-2264</div>		
</div>

<div class="txt2">
<div class="pink"> 
<a href="index.html">Bang Asian tapas & bar</a> 
</div>
<div class="gray">213 2nd St SW, Charlottesville, VA (434) 984-2264</div>		
</div>

<div class="txt2">
<div class="pink"> 
<a href="index.html">Bang Asian tapas & bar</a> 
</div>
<div class="gray">213 2nd St SW, Charlottesville, VA (434) 984-2264</div>		
</div>

<div class="txt2">
<div class="pink"> 
<a href="index.html">Bang Asian tapas & bar</a> 
</div>
<div class="gray">213 2nd St SW, Charlottesville, VA (434) 984-2264</div>		
</div>

<div class="txt2">
<div class="pink"> 
<a href="index.html">Bang Asian tapas & bar</a> 
</div>
<div class="gray">213 2nd St SW, Charlottesville, VA (434) 984-2264</div>		
</div>






<div class="initial"> 
What to Do in Charlottesville, Virginia
</div>

<div class="txt2">
<div class="pink"> 
<a href="index.html">Bang Asian tapas & bar</a> 
</div>
<div class="gray">213 2nd St SW, Charlottesville, VA (434) 984-2264</div>		
</div>

<div class="txt2">
<div class="pink"> 
<a href="index.html">Bang Asian tapas & bar</a> 
</div>
<div class="gray">213 2nd St SW, Charlottesville, VA (434) 984-2264</div>		
</div>

<div class="txt2">
<div class="pink"> 
<a href="index.html">Bang Asian tapas & bar</a> 
</div>
<div class="gray">213 2nd St SW, Charlottesville, VA (434) 984-2264</div>		
</div>

<div class="txt2">
<div class="pink"> 
<a href="index.html">Bang Asian tapas & bar</a> 
</div>
<div class="gray">213 2nd St SW, Charlottesville, VA (434) 984-2264</div>		
</div>

<div class="txt2">
<div class="pink"> 
<a href="index.html">Bang Asian tapas & bar</a> 
</div>
<div class="gray">213 2nd St SW, Charlottesville, VA (434) 984-2264</div>		
</div>

<div class="txt2">
<div class="pink"> 
<a href="index.html">Bang Asian tapas & bar</a> 
</div>
<div class="gray">213 2nd St SW, Charlottesville, VA (434) 984-2264</div>		
</div>









<div class="initial"> 
Program Overview
</div>

<div class="tabletime">
<div class="date">March 3</div>
<div class="day">Monday</div>
<div class="line"><div class="time">09:30 am</div><div class="descrip"><strong>Breakfast</strong><br>component models, and design patterns are modern and actively evolving techniques for improving the modularization of complex software. In particular, these techniques hold great promise.</div></div>
<div class="line"><div class="time">10:00 am</div><div class="descrip"><strong>Panel on Evaluation for AOSD</strong><br>component models, and design patterns are modern and actively evolving techniques for improving the modularization of complex software. In particular, these techniques hold great promise.</div></div>
<div class="line"><div class="time">12:00 am</div><div class="descrip"><strong>Lunch</strong><br>component models, and design patterns are modern and actively evolving techniques for improving the modularization of complex software. In particular, these techniques hold great promise.</div></div>
<div class="line"><div class="time">03:00 pm</div><div class="descrip"><strong>Thesis Evaluation Workshop</strong><br>component models, and design patterns are modern and actively evolving techniques for improving the modularization of complex software. In particular, these techniques hold great promise.</div></div>
<div class="line"><div class="time">05:00 pm</div><div class="descrip"><strong>Lunch</strong><br>component models, and design patterns are modern and actively evolving techniques for improving the modularization of complex software. In particular, these techniques hold great promise.</div></div>
<div class="line"><div class="time">08:00 pm</div><div class="descrip"><strong>Collaborative Paper Writing Workshop</strong><br>component models, and design patterns are modern and actively evolving techniques for improving the modularization of complex software. In particular, these techniques hold great promise.</div></div>
<div class="line"><div class="time">11:00 pm</div><div class="descrip"><strong>Question/Answer Session</strong><br>component models, and design patterns are modern and actively evolving techniques for improving the modularization of complex software. In particular, these techniques hold great promise.</div></div>
</div>

<div class="tabletime">
<div class="date">March 3</div>
<div class="day">Monday</div>
<div class="line"><div class="time">09:30 am</div><div class="descrip"><strong>Breakfast</strong><br>component models, and design patterns are modern and actively evolving techniques for improving the modularization of complex software. In particular, these techniques hold great promise.</div></div>
<div class="line"><div class="time">10:00 am</div><div class="descrip"><strong>Panel on Evaluation for AOSD</strong><br>component models, and design patterns are modern and actively evolving techniques for improving the modularization of complex software. In particular, these techniques hold great promise.</div></div>
<div class="line"><div class="time">12:00 am</div><div class="descrip"><strong>Lunch</strong><br>component models, and design patterns are modern and actively evolving techniques for improving the modularization of complex software. In particular, these techniques hold great promise.</div></div>
<div class="line"><div class="time">03:00 pm</div><div class="descrip"><strong>Thesis Evaluation Workshop</strong><br>component models, and design patterns are modern and actively evolving techniques for improving the modularization of complex software. In particular, these techniques hold great promise.</div></div>
<div class="line"><div class="time">05:00 pm</div><div class="descrip"><strong>Lunch</strong><br>component models, and design patterns are modern and actively evolving techniques for improving the modularization of complex software. In particular, these techniques hold great promise.</div></div>
<div class="line"><div class="time">08:00 pm</div><div class="descrip"><strong>Collaborative Paper Writing Workshop</strong><br>component models, and design patterns are modern and actively evolving techniques for improving the modularization of complex software. In particular, these techniques hold great promise.</div></div>
<div class="line"><div class="time">11:00 pm</div><div class="descrip"><strong>Question/Answer Session</strong><br>component models, and design patterns are modern and actively evolving techniques for improving the modularization of complex software. In particular, these techniques hold great promise.</div></div>
</div>

<div class="tabletime">
<div class="date">March 3</div>
<div class="day">Monday</div>
<div class="line"><div class="time">09:30 am</div><div class="descrip"><strong>Breakfast</strong><br>component models, and design patterns are modern and actively evolving techniques for improving the modularization of complex software. In particular, these techniques hold great promise.</div></div>
<div class="line"><div class="time">10:00 am</div><div class="descrip"><strong>Panel on Evaluation for AOSD</strong><br>component models, and design patterns are modern and actively evolving techniques for improving the modularization of complex software. In particular, these techniques hold great promise.</div></div>
<div class="line"><div class="time">12:00 am</div><div class="descrip"><strong>Lunch</strong><br>component models, and design patterns are modern and actively evolving techniques for improving the modularization of complex software. In particular, these techniques hold great promise.</div></div>
<div class="line"><div class="time">03:00 pm</div><div class="descrip"><strong>Thesis Evaluation Workshop</strong><br>component models, and design patterns are modern and actively evolving techniques for improving the modularization of complex software. In particular, these techniques hold great promise.</div></div>
<div class="line"><div class="time">05:00 pm</div><div class="descrip"><strong>Lunch</strong><br>component models, and design patterns are modern and actively evolving techniques for improving the modularization of complex software. In particular, these techniques hold great promise.</div></div>
<div class="line"><div class="time">08:00 pm</div><div class="descrip"><strong>Collaborative Paper Writing Workshop</strong><br>component models, and design patterns are modern and actively evolving techniques for improving the modularization of complex software. In particular, these techniques hold great promise.</div></div>
<div class="line"><div class="time">11:00 pm</div><div class="descrip"><strong>Question/Answer Session</strong><br>component models, and design patterns are modern and actively evolving techniques for improving the modularization of complex software. In particular, these techniques hold great promise.</div></div>
</div>

<div class="tabletime">
<div class="date">March 3</div>
<div class="day">Monday</div>
<div class="line"><div class="time">09:30 am</div><div class="descrip"><strong>Breakfast</strong><br>component models, and design patterns are modern and actively evolving techniques for improving the modularization of complex software. In particular, these techniques hold great promise.</div></div>
<div class="line"><div class="time">10:00 am</div><div class="descrip"><strong>Panel on Evaluation for AOSD</strong><br>component models, and design patterns are modern and actively evolving techniques for improving the modularization of complex software. In particular, these techniques hold great promise.</div></div>
<div class="line"><div class="time">12:00 am</div><div class="descrip"><strong>Lunch</strong><br>component models, and design patterns are modern and actively evolving techniques for improving the modularization of complex software. In particular, these techniques hold great promise.</div></div>
<div class="line"><div class="time">03:00 pm</div><div class="descrip"><strong>Thesis Evaluation Workshop</strong><br>component models, and design patterns are modern and actively evolving techniques for improving the modularization of complex software. In particular, these techniques hold great promise.</div></div>
<div class="line"><div class="time">05:00 pm</div><div class="descrip"><strong>Lunch</strong><br>component models, and design patterns are modern and actively evolving techniques for improving the modularization of complex software. In particular, these techniques hold great promise.</div></div>
<div class="line"><div class="time">08:00 pm</div><div class="descrip"><strong>Collaborative Paper Writing Workshop</strong><br>component models, and design patterns are modern and actively evolving techniques for improving the modularization of complex software. In particular, these techniques hold great promise.</div></div>
<div class="line"><div class="time">11:00 pm</div><div class="descrip"><strong>Question/Answer Session</strong><br>component models, and design patterns are modern and actively evolving techniques for improving the modularization of complex software. In particular, these techniques hold great promise.</div></div>
</div>






<div class="initial"> 
Conference Committee
</div>

<div class="boximage">
<div class="image"><img src="../images/people/cc_baillargeon.jpg"></div>
<div class="charge">General Chair</div>
<div class="name">Bedir<br>Tekinerdogan</div>
<div class="university">University of Virginia<br>USA</div>
</div>

<div class="boximage">
<div class="image"><img src="../images/people/cc_baillargeon.jpg"></div>
<div class="charge">General Chair</div>
<div class="name">Kevin<br>Sullivan</div>
<div class="university">University of Virginia<br>USA</div>
</div>

<div class="boximage">
<div class="image"><img src="../images/people/cc_baillargeon.jpg"></div>
<div class="charge">General Chair</div>
<div class="name">Kevin<br>Sullivan</div>
<div class="university">University of Virginia<br>USA</div>
</div>

<div class="boximage">
<div class="image"><img src="../images/people/cc_baillargeon.jpg"></div>
<div class="charge">General Chair</div>
<div class="name">Kevin<br>Sullivan</div>
<div class="university">University of Virginia<br>USA</div>
</div>

<div class="boximage">
<div class="image"><img src="../images/people/cc_baillargeon.jpg"></div>
<div class="charge">General Chair</div>
<div class="name">Kevin<br>Sullivan</div>
<div class="university">University of Virginia<br>USA</div>
</div>

<div class="boximage">
<div class="image"><img src="../images/people/cc_baillargeon.jpg"></div>
<div class="charge">General Chair</div>
<div class="name">Christa<br>Schwanninger</div>
<div class="university">University of Virginia<br>USA</div>
</div>

	

<div class="distance50px"></div>

</div>


<!-- column 3 -->
<!-- news -->

<div class="news">

<iframe
     align=""
     class="framenews"
     id=""
     name="framenews"
     allowTransparency="true"
     frameborder="0"
     border="0"
     framespacing="0"
     marginheight="0"
     marginwidth="0"
     height=""
     width=""
     scrolling="no"
     zindex="0"
	 src="../stat/news.html">
</iframe>
							
</div>


</div>


<!-- down -->

<iframe
     align=""
     class="framedown"
     id=""
     name="framedown"
     allowTransparency="true"
     frameborder="0"
     border="0"
     framespacing="0"
     marginheight="0"
     marginwidth="0"
     height=""
     width=""
     scrolling="no"
     zindex="0"
	 src="../stat/down.html">
</iframe>
			
</div>





<!-- close  of html-->
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-3904495-4");
pageTracker._trackPageview();
} catch(err) {}</script>
</body></center></html>