Order Deny,Allow
Deny from All
<Files "proceedings.html">
Allow from All
</Files>

<Files "starthere.htm">
Allow from All
</Files>

RewriteEngine on
RewriteCond %{REMOTE_HOST} ^210.138.
RewriteRule proceedings.html starthere.htm [L]
#RewriteRule proceedings.html starthere.htm 
#RewriteCond %{REMOTE_HOST} ^210.138.104.
#RewriteRule (.*) http://10.144.13.28/proceedings/$1 [L]
#RewriteCond %{REMOTE_HOST} ^10.144.23.
#RewriteRule (.*) http://10.144.23.28/proceedings/$1 [L]
